html, body {
    height: 100%;
  }
  
  body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0;
    font-size: 24px;
  }
  
  h1 {
    text-align: center;
    color: #422761;
    margin-top: 0;
    padding-top: 50px;
    font-size: 80px;
  } 
  
  input, select, button {
    font-size: 20px;
    background-color: #F2F2F2;
    color: #4d394b;
    border-radius: 10px;
    padding: 5px;
  }

  #start, #end {
    font-size: 18px;
  }

  span {
    color: #010101;
  }
  
  .main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
  }

  .options {
    margin: 5px 0;
  }

  .graph {
    margin-top: 50px;
  }

  #graphType {
    padding: 5px 35px;
  }
