html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin : 0;
  font-size: 24px;
}

h1 {
  text-align: center;
  color: #422761;
  margin-top: 0;
  padding-top: 80px;
} 

input, select, button {
  font-size: 18px;
  background-color: #F2F2F2;
}

.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 text-align: center;
}

