html, body {
    height: 100%;
  }
  
  body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #D9C0BA 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0;
    font-size: 24px;
    padding-top: 100px;
  }

  nav {
  background-color: #682ABF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 60px;
  border-radius: 0px 10px;
}
  

  h1 {
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    display: table;
    vertical-align: left;
    float: left;
    color: #682ABF;
    font-weight: bold;
    /* color: #422761*/
    /* font-size: 80px; */
  } 

  input, select, button {
    font-size: 20px;
    background-color: #F2F2F2;
    color: #4d394b;
    border-radius: 10px;
    padding: 5px;
  }

  #start, #end {
    font-size: 18px;
  }

  span {
    color: #010101;
  }
  
  .main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
  }

  .options {
    margin: 5px 0;
  }

  .graph {
    margin-top: 50px;
  }

  #graphType {
    padding: 5px 35px;
  }
